/* mobil container styling */

.mobile-container {
  max-width: 480px;
  margin: auto;
  color: black;
  border-radius: 10px;
}

/* styling af alt indhold */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'big-caslon-fb', serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}


a {
color: #0018b1;
cursor: pointer;
text-decoration: none;
}

a:hover {
opacity: 0.8;
}

/* nav toggle */
.nav-toggle {
cursor: pointer;
right: 20px;
position: absolute;
top: 25px;
width: 30px;
z-index: 3;
}
.nav-toggle:hover {
opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
background: #ffffff;
content: "";
height: 0.18rem;
transition: all 0.5s;
width: 100%;
}
.nav-toggle .nav-toggle-bar {
margin-top: 0;
}
.nav-toggle .nav-toggle-bar::after {
margin-top: 8px;
}
.nav-toggle .nav-toggle-bar::before {
margin-top: -8px;
}
.nav-toggle.expanded .nav-toggle-bar {
background: transparent;
}
.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
background: #0018b1;
margin-top: 0;
}
.nav-toggle.expanded .nav-toggle-bar::after {
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
.nav-toggle.expanded .nav-toggle-bar::before {
-ms-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

/* nav */
.nav {
background: #ffffff;
cursor: pointer;
display: flex;
font-size: 3vw;
height: 100vh;
left: 100%;
padding: 6rem 2rem 2rem 2rem;
position: fixed;
top: 0;
transition: left 0.5s;
width: 100%;
z-index: 2;
}

.nav.expanded {
left: 0%;
}

.nav ul {
list-style: none;
margin: 5%;
}

.nav ul li{
  margin-bottom: 15%;
  font-size: 6vw;
  width: 100%;
  margin-left: 14vw;
  text-align: center;
}

/* logo styling */
.logo {
  width: 90px;
    margin-top: 1.2%;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    transition: 0.5s;
    z-index: 2;
}


/* billede styling */
  .img-header {
      width: 100%;
      margin: 0;
      display: flex;
  }

/* bølge styling */
  .backround-image {
      width: 100%;
      margin-top: -30%;
  }



/* section 1 */
  .icon-coffee {
      display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 9%;
      margin-top: -79%;
  }

  .om-monk h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    color: #0018b1;
    font-size: 6vw;
}

.monk-front{
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* section 1 slut */


/* section 2 */
.baggrund-wave {
    width: 100%;
    margin-top: 2%;
  }

  .text-section {
    margin-top: -65%;
  }

  .text-section h2 {
    text-align: left;
    font-weight: bold;
    color: #ffffff;
    font-size: 6vw;
    margin-left: 5%;
  }

  .text-section p {
    text-align: left;
    color: #ffffff;
    font-size: 3vw;
    margin: 5%;
    margin-top: 1%;
  }

  .collage-img {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 2%; 
    margin: 2%;
    margin-bottom: 3%;
  }

  .collage-img img {
    width: 100%;
  }
/* section 2 slut */


/* citat */
  span {
    font-size: 15vw;
    width: 100%;
  }

  .quote {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    color: #0018b1;
    font-size: 4vw;
    width: 100%;
  }

  .quote-text p{
    width: 100%;
    font-style: italic;
    margin-top: -10%;
    margin-bottom: -10%;
  }

  .questionmark-1 {
    margin-left: -80%;
  }

  .questionmark-2 {
    margin-left: 80%;
  }
  /* citat slut */


/* historie section */
  .history-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .history-section h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 15%;
    color: #0018b1;
    font-size: 6vw;

  }

  .history-section p {
    text-align: center;
    color: #0018b1;
    font-size: 3vw;
    margin-top: 2%;
  }

  .illustrations-image {
    display: flex;
    float: right;
    margin-top: -15%;
    width: 50%;
  }

  .img-history {
    width: 80%;
    margin-left: 10%;
    margin-top: -35%;
  }

  .drawing {
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
/* historie section slut*/


 /* om navnet section */
.illustrations-image2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 5%;
  }

  .navnet-text h2 {
    text-align: center;
    font-weight: bold;
    margin-top: -60%;
    margin-bottom: 3%;
    color: white;
    font-size: 6vw;
  }

  .navnet-text p {
    text-align: center;
    color: white;
    font-size: 3vw;
  }

.om-navnet-section{
    margin-bottom: 40%;
}
 /* om navnet section slut */

  /* ejer section */
  .img-ejer {
    width: 80%;
    margin-left: 10%;
  
  }

  .ejer-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .ejer-section h2 {
    text-align: center;
    font-weight: bold;
    margin-top: -8%;
    color: #0018b1;
    font-size: 6vw;

  }

  .ejer-section p {
    text-align: center;
    margin-top: 2%;
    color: #0018b1;
    font-size: 3vw;
  }

  /* ejer section slut*/



  /* footer */

  #line {
      width: 100%;
  } 

  .logo-footer {
      width: 30%;
      margin-left: 35%;
  }

  footer p {
      font-size: 3vw;
      text-align: center;
      color: #0018b1;
  }

  .footer-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #0018b1;
      margin-top: 5%;
      padding-bottom: 5%;
  }

  .footer-text h2 {
      font-size: 6vw;
      margin-top: 20px;
  }

  
  .socials a{
      display: inline-block;
      font-size: 25px;
      height: 40px;
      width: 40px;
      background: #0018b1;
      text-align: center;
      line-height: 42px;
      border-radius: 25%;
      color: #ffffff;
      transition: all 0.3s ease;
    }
    
    .socials a:hover{
      background: #0018b173;
      color: #ffffffc6;;
    } 

    .city-img {
      width: 100%;
      margin-top: 10%;
    }

    /* FADE EFFECT*/

    .hidden {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1s;
  }
  
  .show {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
  }
  

/* 
    Kilde benyttet til responsive webdesign
    
    Chris, K. (2021) Responsive Web Design – Modern Website Code for Beginners, freeCodeCamp.org. 
    Available at: https://www.freecodecamp.org/news/responsive-web- design-modern-website-code-for-beginners (Accessed: 16 maj 2023).
*/



/* første breakpoint */
  @media screen and (min-width: 480px) {


    .mobile-container {
		  max-width: 768px;
		  margin: 0;
		  border-radius: 10px;
		}

		.nav-toggle {
			right: 30px;
			top: 30px;
			width: 35px;
			}

			.nav ul li{
				font-size: 5vw;
				margin-left: 18vw;
			}	

		.nav-toggle .nav-toggle-bar::after {
				margin-top: 25%;
			}
		.nav-toggle .nav-toggle-bar::before {
				margin-top: -25%;
			}


			.logo {
				width: 100px;
				left: 50%;
				margin-left: -50px;
	
			}	

      .om-monk h1{
        font-size: 5vw;
      }

      .text-section h2 {
        font-size: 5vw;
      }
    
      .text-section p {
        font-size: 2.5vw;
      }

      .quote {
				margin-top: 15%;
			  }
	
    
      .history-section h2{
        margin-top: 20%;
        font-size: 5vw;
      }

      .history-section p{
        font-size: 2.5vw;
      }

  
      .navnet-text h2 {

        font-size: 5vw;
      }
    
      .navnet-text p {

        font-size: 2.5vw;
      }

    
      .ejer-section h2 {
        margin-top: 7%;
        font-size: 5vw;
    
      }
    
      .ejer-section p {
        font-size: 2.5vw;
      }

      

    }
  
  
    /* andet breakpoint */
    @media screen and (min-width: 768px) {
  
      .mobile-container {
        max-width: 1024px;
        margin: auto;
        border-radius: 10px;
    
      }
  
      .logo {
        width: 120px;
        top: 0px;
        left: 50%;
        margin-left: -60px;
      }	
  
      .nav-toggle {
        right: 30px;
        top: 35px;
        width: 40px;
        }
  
  
      .nav ul li{
          font-size: 3vw;
          width: 100%;
          margin-left: 0%;
          text-align: left;
        }
        
        .nav.expanded {
          left: 60%;
          }

        .icon-coffee{
          width: 7%;
        }

        .om-monk h1{
          font-size: 3.8vw;
        }

        .monk-front{
          width: 30%;
        }


     
          .text-section h2 {
            font-size: 3.8vw;
            margin-left: 10%;
            margin-top: 5%;
          }
        
          .text-section p {
            font-size: 1.8vw;
            width: 60%;
            margin-left: 10%;
          }
        
          .collage-img{
            margin: 10%;
            margin-top: 5%;
          }
        
          .collage-img img {
            width: 100%;

          }

          .quote span{
            font-size: 8vw;
          }

          .quote{
            margin-top: 15%;
            text-align: center;
            font-size: 2.5vw;
          }

          .quote-text p{
            margin-bottom: -3%;
            margin-top: -3%;
          }
          .questionmark-1{
            margin-left: -50%;
          }
          .questionmark-2{
            margin-left: 50%;
          }
  
          .history-section h2{
            margin-top: -30%;
            font-size: 3vw;
          }

          .history-section p{
            font-size: 1.8vw;
          }

          .illustrations-image{
           margin-bottom: 40%;
           margin-top: -20%;
          }

        
          .history-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-top: 10%;
          }

          .history-text{
            margin-top: 40%;
          }

          .img-history{
            width: 80%;
            margin-top: -70%;
          }
  
          .drawing {
            display: flex;
            margin-top: 10%;
            margin-bottom: 10%;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
          }


          .illustrations-image2 {
            width: 55%;
            margin-top: 5%;
          }
        
          .navnet-text h2 {
            margin-top: -40%;
            font-size: 3.8vw;
          }
        
          .navnet-text p {
            margin-left: -1%;
            font-size: 1.8vw;
          }


          .ejer-section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-top: -10%;
            margin-bottom: 5%;
          }

          .img-ejer {
            width: 80%;
            margin-left: 10%;
          }
        
          .ejer-section h2 {
            font-size: 3.8vw;
        
          }
        
          .ejer-section p {
            font-size: 1.8vw;
          }

        


      /* footer */
	
			.logo-footer {
				width: 15%;
				margin-left: 42.5%;
			}
	
			footer p {
				font-size: 1.8vw;
			}
	
			.footer-text {
				display: flex;
				flex-direction: row;
				align-items: start;
				gap: 5%;
				margin-left: 20%;
			
				
			}
	
			.footer-text h2 {
				font-size: 3.8vw;
			}
	
			.city-img {
				width: 80%;
				margin-top: 1%;
				margin-left: 12%;
				margin-bottom: 1%;
			}

  
      }
  
      
  
     /* tredje breakpoint */
      @media screen and (min-width: 1024px) {
  
        .mobile-container {
          max-width: 1200px;
          margin: auto;
          border-radius: 10px;
          }
    
          .nav-toggle {
          right: 30px;
          top: 38px;
          width: 40px;
          }
    
          .nav ul li{
            font-size: 2.5vw;
          }	
      
          .nav.expanded {
            left: 70%;
            }

            .icon-coffee{
              width: 6%;
            }

            .text-section h2 {
            font-size: 3vw;
            margin-left: 10%;
            margin-top: 5%;
          }
        
          .text-section p {
            font-size: 1.5vw;
            width: 60%;
            margin-left: 10%;
          }
        
          .collage-img{
            margin: 10%;
            margin-top: 5%;
          }
        
          .collage-img img {
            width: 100%;

          }

          .quote span{
            font-size: 8vw;
          }

          .quote{
            margin-top: 15%;
            text-align: center;
            font-size: 2.5vw;
          }

          .quote-text p{
            margin-top: -3%;
            margin-bottom: -3%;
          }
          .questionmark-1{
            margin-left: -60%;
          }
          .questionmark-2{
            margin-left: 50%;
          }
  
          .history-section h2{
            margin-top: -30%;
            font-size: 3vw;
          }

          .history-section p{
            font-size: 1.5vw;
          }

          .history-section img{
            margin-top: 0;
          }

          .illustrations-image{
           margin-bottom: 40%;
           margin-top: -20%;
          }

        
          .history-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-top: 10%;
          }

          .history-text{
            margin-top: 40%;
          }

          .img-history{
            width: 80%;
            margin-top: -70%;
          }
  
          .drawing {
            display: flex;
            margin-top: 10%;
            margin-bottom: 10%;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
          }


          .illustrations-image2 {
            width: 55%;
            margin-top: 5%;
          }
        
          .navnet-text h2 {
            margin-top: -40%;
            font-size: 3vw;
          }
        
          .navnet-text p {
            margin-left: -1%;
            font-size: 1.5vw;
          }


          .ejer-section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-top: -10%;
            margin-bottom: 5%;
          }

          .img-ejer {
            width: 80%;
            margin-left: 10%;
          }
        
          .ejer-section h2 {
            font-size: 3vw;
        
          }
        
          .ejer-section p {
            font-size: 1.5vw;
          }
        
  
      }      
  
      /* fjerde breakpoint */
      @media screen and (min-width: 1200px) {
  
      
        .mobile-container {
          max-width: none;
          width: 100%;
          margin: auto;
          border-radius: 10px;
          
        }

    
        .text-section{
          margin-left: 11%;
        }
        .text-section h2 {
          font-size: 3vw;
          margin-top: 3%;
        }
      
        .text-section p {
          font-size: 1.5vw;
          margin-bottom: 2%;
        }
      
        .collage-img{
          margin: 20%;
          margin-top: 2%;
        }

      .history-billeder{
        margin-top: -60%;
      }

        .illustrations-image {
          display: flex;
          float: right;
          margin-top: 5%;
          width: 30%;
        }
      
        .img-history {
          width: 70%;
          margin-left: 10%;
          margin-top: -65%;
        }
        

      
      }
      

