

/* mobil container styling */

	.mobile-container {
	  max-width: 480px;
	  margin: auto;
	  color: black;
	  border-radius: 10px;
	}

	/* styling af alt indhold */
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: 'big-caslon-fb', serif;
		font-weight: 400;
		font-style: normal;
		margin: 0px;
	}


	a {
	color: #0018b1;
	cursor: pointer;
	text-decoration: none;
	}

	a:hover {
	opacity: 0.8;
	}

	/* nav toggle */
	.nav-toggle {
	cursor: pointer;
	right: 20px;
	position: absolute;
	top: 25px;
	width: 30px;
	z-index: 3;
	}
	.nav-toggle:hover {
	opacity: 0.8;
	}

	.nav-toggle .nav-toggle-bar,
	.nav-toggle .nav-toggle-bar::after,
	.nav-toggle .nav-toggle-bar::before {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #ffffff;
	content: "";
	height: 0.18rem;
	transition: all 0.5s;
	width: 100%;
	}
	.nav-toggle .nav-toggle-bar {
	margin-top: 0;
	}
	.nav-toggle .nav-toggle-bar::after {
	margin-top: 8px;
	}
	.nav-toggle .nav-toggle-bar::before {
	margin-top: -8px;
	}
	.nav-toggle.expanded .nav-toggle-bar {
	background: transparent;
	}
	.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
	background: #0018b1;
	margin-top: 0;
	}
	.nav-toggle.expanded .nav-toggle-bar::after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}
	.nav-toggle.expanded .nav-toggle-bar::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}

	/* nav */
	.nav {
	background: #ffffff;
	cursor: pointer;
	display: flex;
	font-size: 3vw;
	height: 100vh;
	left: 100%;
	padding: 6rem 2rem 2rem 2rem;
	position: fixed;
	top: 0;
	transition: left 0.5s;
	width: 100%;
	z-index: 2;
	}

	.nav.expanded {
	left: 0%;
	}

	.nav ul {
	list-style: none;
	margin: 5%;
	}

	.nav ul li{
		margin-bottom: 15%;
		font-size: 6vw;
		width: 100%;
		margin-left: 14vw;
		text-align: center;
	}

	/* logo styling */
	.logo {
	  width: 90px;
      margin-top: 1.2%;
      position: absolute;
      left: 50%;
      margin-left: -45px;
      transition: 0.5s;
      z-index: 2;
	}


	/* video styling */
	.intro-video{
		position: relative;
		display: inline-block;
		z-index: -1;
		width: 100%;
		margin-top: 0%;
	}


	/* styling af den hvide bølge */
	.backround-image {
		width: 100%;
		margin-top: -20%;
	}

	/* icon styling */
	.icon-coffee  {
		display: flex;
  		margin-left: auto;
  		margin-right: auto;
  		width: 10%;
		margin-top: -80%;
	}

	/* intro section styling */
	.welcome-section h1 {
		text-align: center;
		font-weight: bold;
		margin-top: 0;
		color: #0018b1;
		font-size: 6vw;
	}

	.welcome-section p {
		margin: 10%;
		text-align: center;
		color: #0018b1;
		margin-top: 1%;
		margin-bottom: 5%;
		font-size: 3vw;
		
	}
	  
	/* styling af billeder */
	  .collage-img {
		display: grid;
  		grid-template-columns: 1fr 1fr; 
		column-gap: 2%; 
		margin: 2%;
		margin-bottom: 3%;
	  }

	  .collage-img img {
		width: 100%;
	  }

	  /* billede styling */
	  .monk-coffee {
		width: 100%;
		margin-top: 2%;
	  }

	  /* text section styling */
	  .text-section {
		margin-top: -99%;

	  }

	  /* overskrift styling */
	  .text-section h1 {
		text-align: center;
		font-weight: bold;
		color: #ffffff;
		font-size: 6vw;
	  }

	  /* tekst styling */
	  .text-section p {
		text-align: center;
		color: #ffffff;
		font-size: 3vw;
		margin: 10%;
		margin-top: 2%;
	  }

	  /* button styling */
	  .button-1 {
		text-decoration: none;
		background-color: #ffffff;
		padding: 7px 10px;
		width: 20%;
    	font-size: 3vw;
		border-radius: 40px;
    	text-align: center;
    	display: inline-block;
		cursor: pointer;
    	border: solid 1px #0018b1;
    	margin-left: 40%;
	  }

	  .btn-section {
		margin-top: -5%;
	  }


	  /* citat styling */
	  span {
		font-size: 15vw;
	  }

	  .quote {
		margin-top: 20%;
		text-align: center;
		color: #0018b1;
		font-size: 4vw;
	  }

	  .quote-text p {
		font-style: italic;
	  }

	  .quote-text {
		margin-top: -10%;
		margin-bottom: -10%;
	  }

	  .questionmark-1 {
		margin-left: -80%;
	  }

	  .questionmark-2 {
		margin-left: 80%;
	  }


	  /* billede styling */
	  .illustration-coffee {
		width: 60%;
		margin-top: 15%;
		margin-left: 15%;
		margin-right: 15%;
	  }

	  /* billede styling */
	  .desk-image {
		margin: 5%;
		margin-top: 10%;
	  }

	  .image-desk {
		width: 100%;
	  }

	  /* monk bilen section styling */
	  .coffee-car-text {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	  }

	  /* h1 styling */
	  .coffee-car h1 {
		text-align: center;
		margin-top: -8%;
		color: #0018b1;
		font-size: 6vw;

	  }

	  /* tekst styling */
	  .coffee-car p {
		text-align: center;
		color: #0018b1;
		font-size: 3vw;
	  }

	  /* billede styling */
	  .monk-car {
		width: 100%;
		margin-top: -10%;
	  }

	  .img-coffeemachine {
		width: 80%;
		margin-left: 10%;
		margin-top: 6%;
	  }

	  /* gif styling */
	  .gif {
		width: 100%;
	  }

	  /* h1 styling */
	  .lorem h1 {
		text-align: center;
		margin-top: 15%;
		color: #0018b1;
		font-size: 6vw;
	  }

	  /* tekst styling */
	  .lorem p {
		text-align: center;
		color: #0018b1;
		font-size: 3vw;
		margin: 10%;
		margin-top: 2%;
	  }

	  /* fjerne billede som skal bruges til web */
	  .illustrations-image1 {
		display: none;
	  }

	  /* billede styling */
	  .illustrations-image {
		width: 100%;
		margin-top: 5%;
	  }

	  .collage-image {
		width: 100%;
	  }
	 
	  .image-collage {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr ;
		gap: 10%;
		margin-top: -130%;
	  }

	  #image-collage-1 {
		margin-top: -80%;
		width: 90%;
		margin-left: 10%;
	  }

	  #image-collage-2 {
		margin-top: -30%;
		width: 90%;
		margin-right: 10%;
	  }

	  #image-collage-3 {
		margin-top: -20%;
		width: 90%;
		margin-left: 10%;
	  }

	  #image-collage-4 {
		margin-top: 30%;
		width: 90%;
		margin-right: 10%;
	  }

	  .menukort-text h2 {
		text-align: center;
		color: #0018b1;
		font-size: 3vw;
		width: 60%;
		margin-left: 20%;
		margin-bottom: 10%;
		margin-top: 35%;
	  }


	/* button styling */
	.button-2 {
		text-decoration: none;
		background-color: #ffffff;
		padding: 7px 10px;
		width: 20%;
    	font-size: 3vw;
		border-radius: 40px;
    	text-align: center;
    	display: inline-block;
		cursor: pointer;
    	border: solid 1px #0018b1;
    	margin-left: 40%;
		margin-bottom: 10%;
	  }

	  /* billede styling */
	.front-monk {
		width: 100%;
		margin-bottom: 5%;
	}

	.monk-front {
		margin: 5%;
	}


	/* footer */

	#line {
		width: 100%;
	} 

	.logo-footer {
		width: 30%;
		margin-left: 35%;
	}

	footer p {
		font-size: 3vw;
		text-align: center;
		color: #0018b1;
	}

	.footer-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #0018b1;
		margin-top: 5%;
		padding-bottom: 5%;
	}

	.footer-text h2 {
		font-size: 6vw;
		margin-top: 20px;
	}

	
	.socials a{
		display: inline-block;
		font-size: 25px;
		height: 40px;
		width: 40px;
		background: #0018b1;
		text-align: center;
		line-height: 42px;
		border-radius: 25%;
		color: #ffffff;
		transition: all 0.3s ease;
	  }
	  
	  .socials a:hover{
		background: #0018b173;
		color: #ffffffc6;;
	  } 

	  .city-img {
		width: 100%;
		margin-top: 10%;
	  }



/*FADE EFFECT*/

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


/* 
    Kilde benyttet til responsive webdesign
    
    Chris, K. (2021) Responsive Web Design – Modern Website Code for Beginners, freeCodeCamp.org. 
    Available at: https://www.freecodecamp.org/news/responsive-web- design-modern-website-code-for-beginners (Accessed: 16 maj 2023).
*/


  /* første breakpoint */
	@media screen and (min-width: 480px) {


		.mobile-container {
		  max-width: 768px;
		  margin: 0;
		  border-radius: 10px;
		}

		.nav-toggle {
			right: 30px;
			top: 30px;
			width: 35px;
			}

			.nav ul li{
				font-size: 5vw;
				margin-left: 18vw;
			}	

		.nav-toggle .nav-toggle-bar::after {
				margin-top: 25%;
			}
		.nav-toggle .nav-toggle-bar::before {
				margin-top: -25%;
			}


			.logo {
				width: 100px;
				left: 50%;
				margin-left: -50px;
	
			}	

			.welcome-section h1 {
				font-size: 5vw;
			}
		
			.welcome-section p {
				font-size: 2.5vw;
				
			}
		
			  .text-section h1 {
				font-size: 5vw;
			  }
		
			  .text-section p {
				font-size: 2.5vw;
			  }
		
			  .button-1 {
				font-size: 2.5vw;
			  }


			  .quote {
				margin-top: 35%;
			  }
		

			  .illustration-coffee {
				width: 70%;
				margin-top: 25%;
			  }
	
			
			  .coffee-car h1 {
				font-size: 5vw;
		
			  }
		
			  .coffee-car p {
				font-size: 2.5vw;
			  }
		
			  .lorem h1 {
				font-size: 5vw;
			  }
		
			  .lorem p {
				font-size: 2.5vw;
			  }
		
			  .menukort-text h2 {
				width: 50%;
				margin-left: 25%;
				font-size: 2.5vw;
			  }
		
			.button-2 {
				font-size: 2.5vw;
				
			  }

		

	  }
	
	  /* andet breakpoint */
	
	  @media screen and (min-width: 768px) {
	
		.mobile-container {
		  max-width: 1024px;
		  margin: auto;
		  border-radius: 10px;
	
		}

		.logo {
			width: 120px;
			top: 0px;
			left: 50%;
			margin-left: -60px;
		}	

		.nav-toggle {
			right: 30px;
			top: 35px;
			width: 40px;
			}


		.nav ul li{
				font-size: 3vw;
				width: 100%;
				margin-left: 0%;
				text-align: left;
			}
			
			.nav.expanded {
				left: 60%;
				}

			.icon-coffee {
				display: flex;
				  margin-left: auto;
				  margin-right: auto;
				  width: 6%;
				margin-top: -80%;
			}
		
			.welcome-section h1 {
				font-size: 3.8vw;
			}
		
			.welcome-section p {
				width: 40%;
				margin-left: 30%;
				margin-top: 2%;
				margin-bottom: 5%;
				font-size: 1.8vw;
				
			}
	
			.collage-img {
				margin: 20%;
				margin-bottom: 3%;
				margin-top: -2%;
			  }
		
			  .monk-coffee {
				width: 100%;
				margin-top: 2%;
			  }
		
			  .text-section {
				margin-top: -90%;
		
			  }
		
			  .text-section h1 {
				font-size: 3.8vw;
				margin-left: 40%;
			  }
		
			  .text-section p {
				font-size: 1.8vw;
				width: 35%;
				margin: 10%;
				margin-top: 2%;
				margin-left: 53%;
			  }
		
			  .button-1 {
				padding: 4px 10px;
				width: 10%;
				font-size: 1.8vw;
				margin-left: 66%;
			  }
		
			  .btn-section {
				margin-top: -8%;
			  }
		
			  span {
				font-size: 8vw;
			  }
		
			  .quote {
				margin-top: 44%;
				text-align: center;
				font-size: 2.5vw;
			  }
		
			  .quote-text {
				margin: -7%;
			  }
		
			  .questionmark-1 {
				margin-left: -80%;
			  }
		
			  .questionmark-2 {
				margin-left: 80%;
			  }
		
			  .illustration-coffee {
				width: 70%;
				margin-top: 35%;
			  }
	
			  .web-section {
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin-top: 15%;
			  }
		
			  .desk-image {
				margin: 20%;
				margin-top: 15%;
			  }
	
			  .coffee-car-web {
				display: grid;
				grid-template-columns: 1fr 1fr;
			  }

	
		
			  .coffee-car h1 {
				margin-top: 20%;
				font-size: 3.8vw;
		
			  }
		
			  .coffee-car p {
				font-size: 1.8vw;
			  }
		
			  .monk-car {
				width: 50%;
				margin-left: 25%;
				margin-top: -18%;
			  }
		
		
			  .gif {
				width: 100%;
			  }
		
			  .lorem h1 {
				font-size: 3.8vw;
			  }
		
			  .lorem p {
				font-size: 1.8vw;
				width: 50%;
				margin-left: 25%;
			  }
		
			  /* skjuler tidligere billede */
			  .illustrations-image {
				display: none;
			  }

			  /* display af webbilledet */
			  .illustrations-image1 {
				display: flex;
				width: 100%;
				margin-top: -20%;
			  }
	
			  .image-collage {
				width: 100%;
				margin-top: -230%;
			  }
	
			  #image-collage-1 {
				margin-top: 280%;
				width: 60%;
				margin-left: 40%;
			  }
		
			  #image-collage-2 {
				margin-top: 310%;
				width: 60%;
				margin-right: 40%;
			  }
		
			  #image-collage-3 {
				margin-top: -50%;
				width: 60%;
				margin-left: 40%;
			  }
		
			  #image-collage-4 {
				margin-top: -20%;
				width: 60%;
				margin-right: 40%;
			  }
		
			  .menukort-text h2 {
				width: 30%;
				font-size: 1.8vw;
				margin: 0%;
				margin-top: 30%;
				margin-left: 35%;
			  }
		
			.button-2 {
				padding: 4px 10px;
				width: 10%;
				font-size: 1.8vw;
				margin-left: 45%;
				margin-top: 3%;
			  }
		
			.front-monk {
				width: 70%;
				margin-bottom: 5%;
				margin-left: 15%;
			}
		
	

			/* footer */
	
			.logo-footer {
				width: 15%;
				margin-left: 42.5%;
			}
	
			footer p {
				font-size: 1.8vw;
			}
	
			.footer-text {
				display: flex;
				flex-direction: row;
				align-items: start;
				gap: 5%;
				margin-left: 20%;
			
				
			}
	
			.footer-text h2 {
				font-size: 3.8vw;
			}
	
			.city-img {
				width: 80%;
				margin-top: 1%;
				margin-left: 12%;
				margin-bottom: 1%;
			}

		
		
		
	
		}
	
		
	
	   /* tredje breakpoint */

		@media screen and (min-width: 1024px) {
	
		  .mobile-container {
			max-width: 1200px;
			margin: auto;
			border-radius: 10px;
		  }

		  .nav-toggle {
			right: 30px;
			top: 38px;
			width: 40px;
			}

			.nav ul li{
				font-size: 2.5vw;
			}	
	
			.nav.expanded {
				left: 70%;
				}
		  
				.welcome-section h1 {
					font-size: 3vw;
				}
			
				.welcome-section p {
					font-size: 1.5vw;
					
				}
	
			
				  .text-section h1 {
					font-size: 3vw;
				  }
			
				  .text-section p {
					font-size: 1.5vw;
				  }
			
				  .button-1 {
					font-size: 1.5vw;
				  }
			
				  span {
					font-size: 8vw;
				  }
			
				  .quote {
					font-size: 2.5vw;
				  }
			
	
				  .illustration-coffee {
					width: 70%;
					margin-top: 35%;
				  }
		
				
				  .coffee-car h1 {
					font-size: 3vw;
			
				  }
			
				  .coffee-car p {
					font-size: 1.5vw;
				  }
			
				  .lorem h1 {
					font-size: 3vw;
				  }
			
				  .lorem p {
					font-size: 1.5vw;
				  }
			
				  .menukort-text h2 {
					font-size: 1.5vw;
				  }
			
				.button-2 {
					font-size: 1.5vw;
					
				  }
			
			
		  
	  
	
		} 
		
		/* fjerde breakpoint */
	
		@media screen and (min-width: 1200px) {
	
		
		  .mobile-container {
			max-width: none;
			width: 100%;
			margin: auto;
			border-radius: 10px;
			
		  }
		
	
	
		
		
		}
		

